<div class="avatar-menu-root" (click)="$event.stopPropagation()">
  <button type="button" class="account-circle" (click)="toggleMenu($event)" [attr.aria-expanded]="isOpen"
    aria-label="Open main menu">
    <ng-container *ngIf="currentMember?.avatar_url; else fallbackIcon">
      <img [src]="currentMember?.avatar_url" [alt]="currentMember?.name || ('menu.currentMember' | translate)"
        class="account-avatar" (error)="currentMember && (currentMember.avatar_url = undefined)" />
    </ng-container>

    <ng-template #fallbackIcon>
      <lucide-icon [img]="userIcon"></lucide-icon>
    </ng-template>
  </button>

  <div class="avatar-menu" *ngIf="isOpen">
    <div class="current-member-row">
      <div class="current-member-avatar">
        <ng-container *ngIf="currentMember?.avatar_url; else currentMemberFallbackIcon">
          <img [src]="currentMember?.avatar_url" [alt]="currentMember?.name || ('menu.currentMember' | translate)"
            (error)="currentMember && (currentMember.avatar_url = undefined)" />
        </ng-container>

        <ng-template #currentMemberFallbackIcon>
          <lucide-icon [img]="userIcon" [size]="18"></lucide-icon>
        </ng-template>
      </div>

      <div>
        <div class="current-member-name">
          {{ currentMember?.name || ('menu.member' | translate) }}
        </div>
        <div class="current-member-label">{{ 'menu.currentMember' | translate }}</div>
      </div>
    </div>

    <button type="button" class="menu-item" (click)="toggleSection('members')">
      <span class="menu-item-left">
        <lucide-icon [img]="usersIcon" [size]="18"></lucide-icon>
        <span>{{ 'menu.changeMember' | translate }}</span>
      </span>

      <lucide-icon class="menu-chevron"
        [img]="openSection === 'members' ? chevronDownIcon : chevronRightIcon"></lucide-icon>
    </button>

    <div class="collapsible-list" *ngIf="openSection === 'members'">
      <button type="button" class="member-menu-item nested-menu-item" *ngFor="let member of members"
        [class.is-active]="member.id === currentMember?.id" (click)="selectMember(member)">
        <span class="member-left">
          <span class="member-menu-avatar">
            <ng-container *ngIf="member.avatar_url; else memberFallbackIcon">
              <img [src]="member.avatar_url" [alt]="member.name" (error)="member.avatar_url = undefined" />
            </ng-container>

            <ng-template #memberFallbackIcon>
              <lucide-icon [img]="userIcon" [size]="16"></lucide-icon>
            </ng-template>
          </span>
          <span>{{ member.name }}</span>
        </span>

        <lucide-icon *ngIf="member.id === currentMember?.id" class="active-check" [img]="checkIcon"></lucide-icon>
      </button>

      <div class="nested-divider"></div>

      <button type="button" class="member-menu-item nested-menu-item add-member-item" (click)="onAddMember()">
        {{ 'menu.addMember' | translate }}
      </button>
    </div>

    <div class="menu-divider"></div>

    <button type="button" class="menu-item" (click)="navigateTo('/cook-from-pantry')">
      <span class="menu-item-left">
        <lucide-icon [img]="chefHatIcon" [size]="18"></lucide-icon>
        <span>{{ 'menu.cookFromPantry' | translate }}</span>
      </span>
    </button>

    <button type="button" class="menu-item" (click)="navigateTo('/meals')">
      <span class="menu-item-left">
        <lucide-icon [img]="myMealsIcon" [size]="18"></lucide-icon>
        <span>{{ 'menu.myMeals' | translate }}</span>
      </span>
    </button>

    <button type="button" class="menu-item" (click)="navigateTo('/week-stats')">
      <span class="menu-item-left">
        <lucide-icon [img]="statsIcon" [size]="18"></lucide-icon>
        <span>{{ 'menu.weekStats' | translate }}</span>
      </span>
    </button>

    <button type="button" class="menu-item" (click)="navigateTo('/notifications')">
      <span class="menu-item-left">
        <lucide-icon [img]="bellIcon" [size]="18"></lucide-icon>
        <span>{{ 'menu.notifications' | translate }}</span>
      </span>
    </button>

    <div class="menu-divider"></div>

    <button type="button" class="menu-item" (click)="toggleSection('language')">
      <span class="menu-item-left">
        <lucide-icon [img]="globeIcon" [size]="18"></lucide-icon>
        <span>{{ 'menu.language' | translate }}</span>
      </span>

      <lucide-icon class="menu-chevron"
        [img]="openSection === 'language' ? chevronDownIcon : chevronRightIcon"></lucide-icon>
    </button>

    <div class="collapsible-list" *ngIf="openSection === 'language'">
      <button type="button" class="select-menu-item nested-menu-item" *ngFor="let language of languages"
        [class.is-active]="language.code === currentLanguage" (click)="selectLanguage(language.code)">
        <span>{{ language.label }}</span>

        <lucide-icon *ngIf="language.code === currentLanguage" class="active-check" [img]="checkIcon"></lucide-icon>
      </button>
    </div>

    <button type="button" class="menu-item" (click)="toggleSection('settings')">
      <span class="menu-item-left">
        <lucide-icon [img]="settingsIcon" [size]="18"></lucide-icon>
        <span>{{ 'menu.settings' | translate }}</span>
      </span>

      <lucide-icon class="menu-chevron"
        [img]="openSection === 'settings' ? chevronDownIcon : chevronRightIcon"></lucide-icon>
    </button>

    <div class="collapsible-list" *ngIf="openSection === 'settings'">
      <button type="button" class="select-menu-item nested-menu-item" (click)="onSettingsAction('members')">
        {{ 'menu.manageMembers' | translate }}
      </button>

      <button type="button" class="select-menu-item nested-menu-item" (click)="onSettingsAction('spaces')">
        {{ 'menu.manageSpaces' | translate }}
      </button>

      <button type="button" class="select-menu-item nested-menu-item" (click)="onSettingsAction('meals')">
        {{ 'menu.manageMeals' | translate }}
      </button>

      <button type="button" class="select-menu-item nested-menu-item account-toggle" (click)="toggleAccountSection()">
        <span>{{ 'menu.account' | translate }}</span>

        <lucide-icon class="menu-chevron"
          [img]="isAccountSectionOpen ? chevronDownIcon : chevronRightIcon"></lucide-icon>
      </button>
    </div>

    <div class="collapsible-list account-submenu" *ngIf="isAccountSectionOpen">
      <button type="button" class="select-menu-item nested-menu-item nested-menu-item--deep"
        (click)="onAccountAction('edit-profile')">
        {{ 'menu.editProfile' | translate }}
      </button>

      <button type="button" class="select-menu-item nested-menu-item nested-menu-item--deep danger-action"
        (click)="onAccountAction('delete-account')">
        {{ 'menu.deleteAccount' | translate }}
      </button>
    </div>

    <button type="button" class="menu-item" (click)="navigateTo('/about')">
      <span class="menu-item-left">
        <lucide-icon [img]="infoIcon" [size]="18"></lucide-icon>
        <span>{{ 'menu.about' | translate }}</span>
      </span>
    </button>

    <div class="menu-divider"></div>

    <button type="button" class="menu-item danger" (click)="logout()">
      <span class="menu-item-left">
        <lucide-icon [img]="logoutIcon" [size]="18"></lucide-icon>
        <span>{{ 'menu.logout' | translate }}</span>
      </span>
    </button>
  </div>
</div>