<section class="grocery-lists-page">
  <div *ngIf="isLoading" class="grocery-loading">
    <app-page-loading></app-page-loading>
  </div>

  <ng-container *ngIf="!isLoading">

    <!-- HEADER -->
    <div class="grocery-header">
      <h1 class="grocery-title">Grocery Lists</h1>

      <button *ngIf="!isCreatingList" type="button" class="primary-button" (click)="startCreateList()">
        + New List
      </button>
    </div>

    <!-- CREATE -->
    <div *ngIf="isCreatingList" class="create-list-card">
      <input type="text" placeholder="Enter list name" [(ngModel)]="newListName" class="create-list-input" />

      <div class="create-actions">
        <button class="primary-button" (click)="saveNewList()">
          Save
        </button>

        <button class="secondary-button" (click)="cancelCreateList()">
          Cancel
        </button>
      </div>
    </div>

    <p *ngIf="error" class="grocery-error">{{ error }}</p>

    <!-- LISTS -->
    <div *ngIf="!error && groceryLists.length > 0; else empty" class="grocery-list">
      <div class="grocery-card" *ngFor="let list of groceryLists" (click)="openList(list)">
        <div class="grocery-card-left">
          <span class="grocery-card-name">{{ list.name }}</span>
          <span class="grocery-card-status-pill" [ngClass]="{
    'grocery-card-status-pill--active':
      list.status && list.status.toLowerCase() === 'active'
  }">
            {{ list.status }}
          </span>
        </div>

        <div class="grocery-card-actions">⋯</div>
      </div>
    </div>

    <ng-template #empty>
      <p class="grocery-empty">No grocery lists found.</p>
    </ng-template>

  </ng-container>
</section>